/* app.component.css */

/* Style de base pour le contenu des pages */


/* Style de la barre latérale */
#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 8px;
}

#sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

#sidebar ul li a:hover {
  background-color: #555;
}
